body{
  margin: 0px;
  padding: 0px;
  background-color: #EEE;
}
.form{
  height: auto;
  padding-bottom: 15px;
  background-color: #fff;
  margin-top: 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form label{
  font-size: 14px;
  letter-spacing: 0.5px;
}

::placeholder{
  font-size: 14px;
}

.btn{
  display: block;
  float: right;
}

#namevalid{
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-left: 3px;
  display: none;
}
